.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
    border-right: 5px solid gray;
    background: linear-gradient(to right, gray, white);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    margin: 10px 0px;
}

.course-container h2 {
    color: white;
}

